/* This Awesome CSS file was created by Font Orgranizer from Hive :) */

body { font-family: 'Les Paul Font'!important; font-weight:normal!important;  }
h1 { font-family: 'Les Paul Font'!important; font-weight:normal!important;  }
h2 { font-family: 'Les Paul Font'!important;   }
h1 { font-family: 'Comic'!important; font-weight:normal!important; }

